.logo
{
    float: left;
}
.container
{
    margin-bottom: 100px;
}
.buy-button
{
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    background-color: black;
}
.phone-box
{
    background-color: #fff;
    padding: 30px 50px;
    text-align: center;
    border: none;
    box-shadow: 10px 10px 30px #e9e9e9;
}
.buy-now-button
{
    padding: 10px 40px;
    background-color: black;
    border-radius: 10px;
    color: #fff;
}

.categories
{
    display: flex;
    justify-content: center;
}
.categories-box
{
    box-shadow: 10px 10px 30px #e9e9e9;
    padding: 20px 15px ;
}   
.categories-border
{
    height: 10px;
    width: 150px;
    background-color: orange;
    border-radius: 20px;
}
